* {
	box-sizing: border-box;
	font-family: "Crimson text"
}

:root {
	--darkSquare: rgb(153, 153, 153);
	--lightSquare: white;
	--selectedSquare: lightblue;
	--possibleMove: lightgreen;
}



/**--lightSquare: rgb(249, 223, 175);
	--darkSquare: rgb(159, 114, 64);**/