:root {
	--darkSquare: rgba(153, 153, 153, 0.49);
	--lightSquare: rgba(255, 255, 255, 0.63);
	--selectedSquare: lightblue;
	--possibleMove: lightgreen;
	--primary:  rgba(33, 39, 52, 0.719);
	--secondary: white; 
	--tertiary: darkgray;
	--modalBg: rgba(0, 0, 0, 0.582);
}

* {
	box-sizing: border-box;
	font-family: 'Raleway', cursive;
	color:whitesmoke;
	}
button {
	height: 2.75rem;
	border: none;
	background-color: black;
	font-size: medium;
	font-weight: normal;
	cursor:pointer;
}
button:hover {
	transition-duration: 0.5;
	background-color: var(--secondary);
	border: var(--primary) 1px solid;
	color: var(--primary);
}
input {
	height: 2rem;
	border: solid 0.5px whitesmoke;
	color: whitesmoke;
	font-size: medium;
	padding-inline: 0.5rem;
	background-color: transparent;
	outline:none;
}
input::placeholder {
	color: whitesmoke;
}
input::hover{
	border:none;
}
input:focus {
	outline: none;
}